

.hero-container {
    /* border: 2px solid green; */
    width: 70%;
    margin: auto;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 5px;
    align-items: center;
}

.insta {
    min-width: 40%;
    height: 60px;
    /* border: 2px solid green; */
}



.form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form form input[type="text"],
  .form form input[type="password"] {
    display: block;
    font-size: 0.8rem;
    font-weight: 300;
    padding: 0.7rem;
    width: 100%;
    border-radius: 3px;
    outline: none;
    border: none;
    background-color: #bdc3c732;
  }

  .btn {
    padding: 0.5rem;
    font-size: 0.8rem;
    font-weight: 300;
    color: white;
    border: none;
    background-color: #00a8ff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
  }
  .btn:hover {
    background-color: #0797df;
  }

  .form p {
    color: grey;
  }

  .font {
    font-size: 13px;
  }

  .form p a {
    text-decoration: none;
    color: #0797df;
  }


.last {
    display: flex;
    /* border: 2px solid red; */
    padding: 5px;
    justify-content: center;
    gap: 0.3rem;
    text-align: center;
}

.last a {
    text-decoration: none;
    color: #00a8ff;
}


@media screen and (max-width: 459px) {

    .hero-container {
        width: 90%;
    }
}

@media screen and (max-width: 345px) {

    .hero-container {
        width: 100%;
        padding: 10px;
    }
}

