

.footer-container {
    /* border: 2px solid red; */
    padding: 10px;
    padding-bottom: 20px;
}

.footer-container p {
    color: grey;

}

.footer-container p a {
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s;
    color: #0797df;
}
.footer-container p a:hover {
    color: black;
}