* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

.main-container {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    height: 100vh;
    justify-content: space-between;
    text-align: center;
}