@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Climate+Crisis&family=Josefin+Sans:wght@500&family=Libre+Baskerville:wght@700&family=Poppins:ital@0;1&family=Roboto+Slab:wght@300;600&family=Roboto:wght@400;900&family=Tilt+Warp&family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}   

.main-container {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    height: 100vh;
    justify-content: space-between;
    text-align: center;
}